<ul>
  {% for conference in site.data.resume.conferences %}
    <li>
      <strong>{{ conference.name }}</strong> - {{ conference.location }} ({{ conference.date }})<br>
      <em>{{ conference.summary }}</em>
      {% if conference.url %}
        <a href="{{ conference.url }}" target="_blank">View Conference Paper</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
